//COLOR VARIABLES

$primary-color: rgb(134, 44, 11);
$primary-color-dark: rgb(80, 25, 5);

$secondary-color: #101d2c;

$grey-color-light1: #f9f7f6;
$grey-color-light2: #aaa;

$grey-color-dark1:#544834;
$grey-color-dark2:#605048;

//FONT VARIABLES
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

//MEDIA QUERY BREAKPOINTS
$bp-desktop: 93.75em; //1500px;
$bp-laptopL: 87.5em; //1400px;
$bp-laptopM: 62.5em; //1000px
$bp-laptopS: 56.2em; //900px
$bp-tablet: 50em; //800px
$bp-phone: 31.25em; //500px
$bp-phoneS: 25em; //400px